## Advantages of Python

* **The Code looks similar to how Humans think.****


* **Python is free and open-source** - open source means that's it's source code is available to public . we can download it , change it ,use it and distribute it. This feature is called FLOSS (Free and open source software.)


* **Portable** - we does not need to change the code that's written in windows operating system to run it on mac or any other operating system.


* **It is well supoorted and has numerous online content.**


* **It is Dynamically typed**  - meand the type of value is decided at runtime , this is why de don't need to specify the data type while decalaring it.


* **It has many powerfull libraries for data manipulation and analysis , data visulatization.**


* **Python has Machine Learning.**

# Operators - 

**Arithmetic Operators**

**Assignment  Operators**

**Comparsion Operators**

**Logical  Operators**

**Identity Operators**

**Membership Operators**

# Operators
They help us in performing operations

## Arithmetic Operators

- **+**  : addition

- **-**  : subtraction

- [ * ] : multiplication

- **/**  : division

- **%**  : modulus  - gives remainder

-   **   : Exponentiation

## Data types

* Numbers

* float

* string

* boolean

* Lists

* Dictionaries

* Tuples

* Sets

### Numbers

# In Python OVERWRITNG is Allowed
# Python is Case sensitive
# code will be executed line by line
# cannot define a variable - whose name starts with a number, special caharacter( _ is excluded), 
# space are not allowed in python


# esc M
# shift enter, ctrl enter

In [1]:
a = 10  # variable assignment
a = 100
a = 200  # , ctl /
print(a)  # when you want to print more than 1 variable , have to put comma  - shift enter

200

In [2]:
# 12b = 10
_abc123 = 2000
print(_abc)

NameError: name '_abc' is not defined

# Integer : 10,-10,1351456465,0,78,-78   ---- int
# decimal : 10.5 ,10.25555552 --------  float
# Text : python langaage , abc, name  --- str
# Boolean : True , False  ------ bool


# perfom any kind of operarioon -- data types have to be same

In [3]:
a2 = 10.5
a3 = True
a4 = False
a5 = 'strings will be always enclosed in quotes - and these quotes could be single or double'
a6 = "python"
a7 = "this shouldn\\\\\\\'t work 1515212 15.58 True False"
a8 = '100.784531'
print(a2, a3, '\n', a4, '\n',a5, a6, '\n', a7, '\t', a8)

10.5 True
 False
 strings will be always enclosed in quotes - and these quotes could be single or double python
 this shouldn\\\'t work 1515212 15.58 True False 	 100.784531

In [4]:
# checking the datatype
print( type(a4), type(a2), type(a6), type(2.45) )

<class 'bool'> <class 'float'> <class 'str'> <class 'float'>

In [5]:
# type Conversion or Type Casting

b = 10.9
b = int(b)
b = str(b)  # '10'
b = int(b)
print( type(b), b+10)

<class 'int'> 20

In [6]:
d = int(10.9) # 'abc'
d = float(d)
print(d)

10.0

In [7]:
1+1

2

In [8]:
1 * 3

3

In [9]:
1 / 2

0.5

In [10]:
2 ** 2 # Power

4

In [11]:
4 % 2 # Modulus - remainder

0

In [12]:
5 % 2

1

In [13]:
(2 + 3) * (5 + 5)

50

In [14]:
type(10)
#  int stands for integer

int

### Float

In [15]:
a = 10 
print(a)

10

In [16]:
word = 'hello'
word = "hello2"
word =  " can't "

word

" can't "

In [17]:
a = 10
b = 20
c = a+b
print(a)

# a = 40
# print(a)

10

In [18]:
# c1 = a+10

print('Value of a: ',
      '\n',
      '\t', 
      a+10,
      '\n',
      'value of b: ',
      b) # this is print command


print(' orignal a:' ,a)


''' Multi Line Comment

Integer = 1,24,57,8
Float = 1.25 ,0.36,1.58
String = 'hello there'
st = "i can't do it"

'''

Value of a:
 	 20
 value of b:  20
 orignal a: 10

' Multi Line Comment\n\nInteger = 1,24,57,8\nFloat = 1.25 ,0.36,1.58\nString = \'hello there\'\nst = "i can\'t do it"\n\n'

In [19]:
type(-20.5)

float

In [20]:
a = 20 
print(type(1.25 ))


print(type(a))

<class 'float'>
<class 'int'>

In [21]:
print(a)

20

In [22]:
1.25 + 8.0

9.25

### Strings

In [23]:
'single quotes'

'single quotes'

In [24]:
type('single quotes')

str

In [25]:
"double quotes"

'double quotes'

In [26]:
" wrap lot's of other quotes"
# using single quotes within "" quotes

" wrap lot's of other quotes"

In [27]:
#  ' wrap lot's of other quotes'
# gives syntax error beacuse single quotes used inside of single quotes

In [28]:
#  escape character  \
' wrap lot\'s of other quotes'

" wrap lot's of other quotes"

### Booleans

In [29]:
True

True

In [30]:
type(True)

bool

In [31]:
False

False

### Variable Assignment

In [32]:
# Can not start with number or special characters
name_of_var = 2

In [33]:
x = 2
y = 3
z = 10
z1 = 100

In [34]:
x,y,z,x1 = 2,3,10,100 # there should be equal no. on both sides also called unpacking

print('value of x: ',x)
print('value of y: ' ,y)
print('checking z:', x)
print('checking x1:', x1)

value of x:  2
value of y:  3
checking z: 2
checking x1: 100

In [35]:
z = x + y

In [36]:
# variable reassigned
x = 10
x

10

In [37]:
z

5

### In-build functions
python comes with many inbuild functions.

### Printing

In [38]:
x = 'hello'

In [39]:
print(x)

hello

In [40]:
# To check current working directory
import os

os.getcwd()

'C:\\Users\\HP\\OneDrive\\Simplilearn\\Courses\\Python'

In [41]:
print('Hi python, I am coming')

Hi python, I am coming

### **Type**

In [42]:
type(x)

str

In [43]:
x = 8
type(x)

int

### Concatenation

In [44]:
print('Hi'+'There')

HiThere

In [45]:
print('Hi','There')

Hi There

### Inter-converting string , float and int

**Converting to int**

only the values which are number can be converted to int

In [46]:
s = '100000' # Converted to float, integers

s1 = 'hello' # Type conversion not possible for them

f = 10.90  # Converted to Str, integers

i = 20 # Converted to Str, float

cs = str(f)
print(cs, type(cs))

print(float(s))

print(int(s))

# cs+1

10.9 <class 'str'>
100000.0
100000

In [47]:
int(False)

0

In [48]:
i = 12
float(12)

12.0

In [49]:
v = int(s)
fc = int(f)

print(s)
print(fc)

print(v+fc)

100000
10
100010

In [50]:
print(type(v),type(fc))

<class 'int'> <class 'int'>

In [51]:
s = int('a')

ValueError: invalid literal for int() with base 10: 'a'

**Converting to float**

only the values which are number can be converted to float

In [52]:
print(float('1.0'))
print(float(10))
print(float('34'))

1.0
10.0
34.0

**Converting to string**

any value can be converted to float

In [53]:
print(str(1.0))
print(str(10))

1.0
10

In [54]:
print(type(str(1.0)))
print(type(str(10)))

<class 'str'>
<class 'str'>

In [55]:
# Tuple Unpacking
a, b, c, d, e = 10, False, 'three', 4.7155, '500000'
print(a, b, c, d, e)

10 False three 4.7155 500000

# Operators

## Assignment Operators
**=**  : assigns a value to a variable

**+=**  : c += a   is equivalent to c = c + a

** - =**  : c -= a   is equivalent to c = c - a

**(*=)**  : c *= a   is equivalent to c = c * a

**/=**  : c /= a   is equivalent to c = c / a

**%=**  : c %= a   is equivalent to c = c % a

In [56]:
10//3 # floor Division - always give Int output

10%3 # modulus - will given remainder output

1

In [57]:
x = 1000
y = 2

x%=111  # x = x%111

print('after updating', rem)  # esc L

NameError: name 'rem' is not defined

In [58]:
x = 10
x2 = x+200 # possible to create new variable
print(x2)
x-=200000 # no new object/variable can be created
print(x, x2)

210
-199990 210

In [59]:
x += y

x *= y

x /= y

x %= y

In [60]:
x = x+y

x = x*y

x = x/y

x = x%y
x

0.0

# Operators

## Comparison Operators - 
They compares the values and returns bool if required

**==** : are equal

**!=** : not equal

**>** : greater than

**<** : samller than

**>=** : greater than or equal to

**<=** : smaller than or equal to

In [61]:
a = 10
b = 10
print(a==b)

True

In [62]:
int(10.99 != 10.99)
# 'A' == 'a'

0

In [63]:
1 > 2

False

In [64]:
1 < 2

True

In [65]:
1 >= 1

True

In [66]:
1 <= 4

True

In [67]:
a = 10
b = 100

In [68]:
a == b # Comparision

False

In [69]:
'hi' == 'bye'

False

In [70]:
'hi' != 'bye' # Not equal to

True

## Logic Operators

**and**  = requires both the statements to be true

**or**   = requires any statement to be true

In [71]:
(1 < 2) and (2 < 3)
(1 < 2) & (2 < 3)

True

In [72]:
(1 > 2) and (2 < 3)

False

In [73]:
(1 > 2) or (2 < 3)
(1 > 2) | (2 < 3)

True

In [110]:
(1 == 2) or (2 == 3)

False

### Comments
They are used for giving a information about anything . They come in action when # i put before a line code

when the program runs seeing the # character the program skips that line.

In [ ]:
# hi i want to tell you something

In [117]:
'''
multi line comment also called doc string 52
2 %88       multi line comment also called doc string
used for multi line comment also called doc string
used for multi line comment also called doc stri
used for multi line comment also called doc string
used for multi line comment also called doc stringng
used for multi line comment also called doc string
'''

'\nmulti line comment also called doc string 52\n2 %88       multi line comment also called doc string\nused for multi line comment also called doc string\nused for multi line comment also called doc stri\nused for multi line comment also called doc string\nused for multi line comment also called doc stringng\nused for multi line comment also called doc string\n'

## Python identity operators
They are used to compare objects , not if they are equal , but if they are actually the same object , eith same memory location.

* **is**  - returns true if both objects are same object.

* **is not**  - returns true if both objects are not he same

In [127]:
'q' is 'q' # 'a' == 'a'

True

In [124]:
'a'=='a'

True

In [ ]:
'a' is 'A'

In [ ]:
'a' is not 'A' # 'a' != 'A'

## Python membership operators
They are used to test if the sequence is present in an obeject.

* **in**  - returns true if a sequence with specified value is present in the object.

* **not in**  - returns true if a sequence with specified value is not present in the object.

In [159]:
s = 'Hello World 2000'

In [162]:
'9' in s # allow you to search a value in existing variable

False

In [ ]:
'he' in s

In [161]:
'5000' not in s

True