In [6]:
# datatypes - int, str, float, bool , operators, mebership fun's

# Lists , Tuple, Sets, Dictionaries

# Lists -   []

names = ['lovely','parth','rohit','ganesh','kalkidan', 10.4, True, 52 , -521]
print(type(names))

<class 'list'>

In [8]:
# Indexes always start from zero - when LEFT --> RIGHT
print(names[-1], names[1] , names[8], names[-2])  # printing only one value by giving the index
names[0]
names[-6]

-521 parth -521 52

'ganesh'

In [9]:
# Slicing the index

# list_name[Lower bound : Upper Bound-1]  --> Lower Bound are Inclusive and Upper bOund are Exclusive

print(names[1:6],  names[-8:-3], names[1:-3])
print(names[1:3])

['parth', 'rohit', 'ganesh', 'kalkidan', 10.4] ['parth', 'rohit', 'ganesh', 'kalkidan', 10.4] ['parth', 'rohit', 'ganesh', 'kalkidan', 10.4]
['parth', 'rohit']

In [10]:
# List concatination

new_list = names[0:5] + names[7:9] + ['new' , 'values']  +['not a list']

print(new_list)

['lovely', 'parth', 'rohit', 'ganesh', 'kalkidan', 52, -521, 'new', 'values', 'not a list']

In [13]:
a=[1,3,4,5,6,7]

a[2:] # start from index 2 till the very end

a[:4] # index 4 exclusive , will give evertything b4 index 4

a[:-2] # index -2 exclusive , will give evertything b4 index -2

a[-3: ] # Everthing after index -3 till last

a[ : 4] # everting b4 index 4 - and 4 is upper bound so Excluded

[1, 3]

In [18]:
# names[1:3]
names[1]+' '+ names[3]

'parth ganesh'

In [19]:
new_list= ['lovely', 'parth', 'rohit', 'ganesh', 'kalkidan', 52, -521, 'new', 'values', 'not a list']

# overwrite an existing value in a list
new_list[5] = 5000
new_list

['lovely',
 'parth',
 'rohit',
 'ganesh',
 'kalkidan',
 5000,
 -521,
 'new',
 'values',
 'not a list']

In [20]:
new_list[1:3] = 'abc' ,'pqr'  # 1,2
new_list

['lovely',
 'abc',
 'pqr',
 'ganesh',
 'kalkidan',
 5000,
 -521,
 'new',
 'values',
 'not a list']

In [22]:
list2 = new_list + ['lovely', 'parth', 'rohit', 'ganesh', 'kalkidan']
print(list2)

['lovely', 'abc', 'pqr', 'ganesh', 'kalkidan', 5000, -521, 'new', 'values', 'not a list', 'lovely', 'parth', 'rohit', 'ganesh', 'kalkidan']

In [23]:
# list_name.index(values)
list2.index(5000) # but if values are repated then- it will return the very first index

5

In [24]:
# remove ,insert 
new_list

['lovely',
 'abc',
 'pqr',
 'ganesh',
 'kalkidan',
 5000,
 -521,
 'new',
 'values',
 'not a list']

In [25]:
new_list.insert(0, 'Canisha') # (index, new_value)

In [26]:
new_list.remove('not a list') # (value to be removed)

In [27]:
# list2.remove('lovely')
list2

['lovely',
 'abc',
 'pqr',
 'ganesh',
 'kalkidan',
 5000,
 -521,
 'new',
 'values',
 'not a list',
 'lovely',
 'parth',
 'rohit',
 'ganesh',
 'kalkidan']

In [28]:
# pop function will remove values given index
new_list.pop(3)  
new_list

['Canisha', 'lovely', 'abc', 'ganesh', 'kalkidan', 5000, -521, 'new', 'values']

In [29]:
len(new_list)-1  # length will return total count of elemnets

8

In [30]:
new_list.pop(len(new_list)-1)

'values'

In [31]:
# new_list[-1]='dileep'
new_list.remove(5000)
new_list.remove(-521)
new_list

['Canisha', 'lovely', 'abc', 'ganesh', 'kalkidan', 'new']

In [ ]:
# list are MUTABLE -- i can make changes to them

In [32]:
# FOR LOOPS
for v in new_list:
    new_name1 ='Hello '+ v   

print(new_name1)

Hello new

In [33]:
#  independent function - returns index and value
for a,k in enumerate('helloh'):
    print('Index is ', a, 'Value is', k)

Index is  0 Value is h
Index is  1 Value is e
Index is  2 Value is l
Index is  3 Value is l
Index is  4 Value is o
Index is  5 Value is h

In [34]:
#  independent function - returns index and value
for ind,val in enumerate(list2):
    print('Index is ', ind, 'Value is', val)

Index is  0 Value is lovely
Index is  1 Value is abc
Index is  2 Value is pqr
Index is  3 Value is ganesh
Index is  4 Value is kalkidan
Index is  5 Value is 5000
Index is  6 Value is -521
Index is  7 Value is new
Index is  8 Value is values
Index is  9 Value is not a list
Index is  10 Value is lovely
Index is  11 Value is parth
Index is  12 Value is rohit
Index is  13 Value is ganesh
Index is  14 Value is kalkidan

In [36]:
list2 = [10, 20.6, 'hello' , False] 
for v in list2:
    print(type(v))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# APPEND - allow to add new values one by one to Existing/ new list
# adding to existing list

In [37]:
new_list=['Canisha', 'lovely', 'parth', 'rohit', 'ganesh']
new_names = ['Bharat', 'swati', 'Woo']
lis_num = [20,21,22]

for i in lis_num:
    new_list.append(i+1000)

print(new_list)

['Canisha', 'lovely', 'parth', 'rohit', 'ganesh', 1020, 1021, 1022]

In [ ]:
new_list=['Canisha', 'lovely', 'parth', 'rohit', 'ganesh', 'Cia']
l2 = []
for i in new_list:
    l2.append(i[0])
print(l2)

['C', 'l', 'p', 'r', 'g', 'C']

In [ ]:
# if - else  - allow to check conditions

for i in new_list:
    if i[0] == 'C':
        print(i)
    else:
        print('name do not start with C')

Canisha
name do not start with C
name do not start with C
name do not start with C
name do not start with C
Cia

In [38]:
for i in new_list:
    if i[0]=='C':
        print(i)
    else:
        print('name does not start with C')

Canisha
name does not start with C
name does not start with C
name does not start with C
name does not start with C

TypeError: 'int' object is not subscriptable